.banner {
  background: url("https://stellastays.com/static/media/w1440-mtl-stj-53.21475e0e.webp")
    center right;
  height: 80vh;
  position: relative;
}

.banner__info {
  background-color: #2b4650;
  color: white;
  padding-top: 39vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #2b4650 !important;
}

.banner__info > button {
  background-color: #2b4650;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: white;
  color: #2b4650;
}

.banner__info > h5 {
  margin-top: 10px;
}
